<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="net.bicou.redmine"
		  android:versionName="0.11.2">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.USE_CREDENTIALS"/>
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.READ_SYNC_STATS"/>
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<uses-permission android:name="com.android.vending.BILLING"/>

	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:xlargeScreens="true"/>

	<application
		android:name="net.bicou.redmine.MyMineApplication"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:logo="@drawable/logo_ab"
		android:label="@string/app_name"
		android:theme="@style/Theme.MyMine">
		<activity
			android:name="net.bicou.redmine.app.misc.MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name="net.bicou.redmine.app.issues.IssuesActivity"
			android:parentActivityName="net.bicou.redmine.app.misc.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="application/*" />
				<data android:mimeType="audio/*" />
				<data android:mimeType="image/*" />
				<data android:mimeType="message/*" />
				<data android:mimeType="multipart/*" />
				<data android:mimeType="video/*" />
			</intent-filter>

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.bicou.redmine.app.misc.MainActivity"/>

			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/search"/>
		</activity>

		<activity
			android:name="net.bicou.redmine.app.issues.edit.EditIssueActivity"
			android:parentActivityName="net.bicou.redmine.app.issues.IssuesActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.bicou.redmine.app.issues.IssuesActivity"/>
		</activity>

		<activity
			android:name="net.bicou.redmine.app.projects.ProjectsActivity"
			android:parentActivityName="net.bicou.redmine.app.misc.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.bicou.redmine.app.misc.MainActivity"/>
		</activity>
		<activity
			android:name="net.bicou.redmine.app.roadmap.RoadmapActivity"
			android:parentActivityName="net.bicou.redmine.app.misc.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.bicou.redmine.app.misc.MainActivity"/>
		</activity>
		<activity
			android:name="net.bicou.redmine.app.wiki.WikiActivity"
			android:parentActivityName="net.bicou.redmine.app.misc.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.bicou.redmine.app.misc.MainActivity"/>
		</activity>
		<activity
			android:name="net.bicou.redmine.app.wiki.WikiPageActivity"
			android:parentActivityName="net.bicou.redmine.app.wiki.WikiActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.bicou.redmine.app.wiki.WikiActivity"/>
		</activity>
		<activity
			android:name="net.bicou.redmine.app.misc.AboutActivity"
			android:parentActivityName="net.bicou.redmine.app.misc.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.bicou.redmine.app.misc.MainActivity"/>
		</activity>
		<activity
			android:name="net.bicou.redmine.app.misc.ChangelogActivity"
			android:parentActivityName="net.bicou.redmine.app.misc.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.bicou.redmine.app.misc.MainActivity"/>
		</activity>
		<activity
			android:name="net.bicou.redmine.app.ssl.AddNewCertificateActivity"
			android:parentActivityName="net.bicou.redmine.app.misc.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.bicou.redmine.app.misc.MainActivity"/>
		</activity>

		<activity android:name="net.bicou.redmine.app.ssl.KeyStoreManagerActivity">
			<intent-filter>
				<action android:name="net.bicou.redmine.MANAGE_SSL_CERTIFICATES"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name="net.bicou.redmine.app.settings.ProjectSyncSettingsActivity">
			<intent-filter>
				<action android:name="net.bicou.redmine.PROJECT_SYNC_SETTINGS"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name="net.bicou.redmine.app.settings.SettingsActivity"
			android:configChanges="orientation|keyboardHidden"
			android:label="@string/title_activity_settings"
			android:parentActivityName="net.bicou.redmine.app.misc.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.bicou.redmine.app.misc.MainActivity"/>
		</activity>
		<activity
			android:name="net.bicou.redmine.app.misc.DonateActivity"
			android:parentActivityName="net.bicou.redmine.app.misc.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.bicou.redmine.app.misc.MainActivity"/>
		</activity>

		<!-- File Chooser -->
		<activity
			android:name="com.ipaulpro.afilechooser.FileChooserActivity"
			android:icon="@drawable/ic_chooser"
			android:exported="false"
			android:label="@string/server_auth_settings_select_cert_activity">
			<intent-filter>
				<action android:name="android.intent.action.GET_CONTENT"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.OPENABLE"/>

				<data android:mimeType="*/*"/>
			</intent-filter>
		</activity>

		<!-- The authenticator service -->
		<service
			android:name="net.bicou.redmine.auth.AuthenticationService"
			android:exported="true"
			tools:ignore="ExportedService">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator"/>
			</intent-filter>

			<meta-data
				android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator"/>
		</service>

		<!-- The projects sync service -->
		<service
			android:name="net.bicou.redmine.sync.ProjectsSyncAdapterService"
			android:exported="false">
			<intent-filter>
				<action android:name="android.content.SyncAdapter"/>
			</intent-filter>

			<meta-data
				android:name="android.content.SyncAdapter"
				android:resource="@xml/syncadapter_projects"/>
		</service>

		<!-- The issues sync service -->
		<service
			android:name="net.bicou.redmine.sync.IssuesSyncAdapterService"
			android:exported="false">
			<intent-filter>
				<action android:name="android.content.SyncAdapter"/>
			</intent-filter>

			<meta-data
				android:name="android.content.SyncAdapter"
				android:resource="@xml/syncadapter_issues"/>
		</service>

		<!-- The wiki sync service -->
		<service
			android:name="net.bicou.redmine.sync.WikiSyncAdapterService"
			android:exported="false">
			<intent-filter>
				<action android:name="android.content.SyncAdapter"/>
			</intent-filter>

			<meta-data
				android:name="android.content.SyncAdapter"
				android:resource="@xml/syncadapter_wiki"/>
		</service>

		<!-- The users sync service -->
		<service
			android:name="net.bicou.redmine.sync.UsersSyncAdapterService"
			android:exported="false">
			<intent-filter>
				<action android:name="android.content.SyncAdapter"/>
			</intent-filter>

			<meta-data
				android:name="android.content.SyncAdapter"
				android:resource="@xml/syncadapter_users"/>
		</service>

		<!-- The sync providers -->
		<provider
			android:exported="false"
			android:name="net.bicou.redmine.data.ProjectsSyncContentProvider"
			android:authorities="net.bicou.redmine.sync.Projects"
			android:label="@string/sync_projects"/>
		<provider
			android:exported="false"
			android:name="net.bicou.redmine.data.IssuesSyncContentProvider"
			android:authorities="net.bicou.redmine.sync.Issues"
			android:label="@string/sync_issues"/>
		<provider
			android:exported="false"
			android:name="net.bicou.redmine.data.WikiSyncContentProvider"
			android:authorities="net.bicou.redmine.sync.Wiki"
			android:label="@string/sync_wiki"/>
		<provider
			android:exported="false"
			android:name="net.bicou.redmine.data.UsersSyncContentProvider"
			android:authorities="net.bicou.redmine.sync.Users"
			android:label="@string/sync_users"/>

		<!-- The view notification service
		<service
				android:name="net.bicou.redmine.notifier.NotifierService"
				android:exported="true">
		</service-->

		<activity
			android:name="net.bicou.redmine.auth.AuthenticatorActivity"
			android:configChanges="orientation"
			android:excludeFromRecents="true"
			android:exported="true"
			android:label="@string/setup_title"
			android:theme="@style/Theme.MyMine"/>

		<!-- Used for install referral measurement-->
		<service android:name="com.google.analytics.tracking.android.CampaignTrackingService"/>
		<receiver
			android:name="com.google.analytics.tracking.android.CampaignTrackingReceiver"
			android:exported="true"
			tools:ignore="ExportedReceiver">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER"/>
			</intent-filter>
		</receiver>

	</application>

</manifest>
